<h2>Semester Schedule (subject to change)</h2>
<div class="key">
    Reading Assignments Key:
    <br>
    <ul>
        <li><span class="required"><strong>Non-italicized</strong></span> readings are required,</li>
        <li><span class="optional"><strong>Italicized</strong></span> readings are optional but recommended. Note that these readings are <em>NOT</em> tested.</li>
    </ul>
</div>

<!-- beginning of calendar code

  Looking for LAB LINK shortcuts?
  Look in _data/labs.yml

  Looking for LECTURE LINK shortcuts?
  Look in _data/lectures.yml

  Looking for HW LINK shortcuts?
  Look in _data/hws.ymlh

  Looking for DISCUSSION LINK shortcuts?
  Look in _data/discussions.yml

-->
{% assign lab = site.data.labs %}
{% assign lect = site.data.lectures %}
{% assign hw = site.data.hws %}
{% assign disc = site.data.discussions %}
{% assign weeks = site.data.weeks %}

<table id="calendar">
  <tr>
    <th>Week</th>
    <th>Dates</th>
    <th>Readings</th>
    <th>Lectures</th>
    <th>Labs</th>
    <th>Discussions</th>
    <th>Due Dates/Notes</th>
  </tr>
{% for week in weeks %}
  <tr>
    <td rowspan = 4>{{ week.number }} </td>

    <td rowspan = 4>{{ week.dates }}</td>

    {% if week.readings == null %}
      <td rowspan = 4>No Readings</td>
    {% else %}
      <td rowspan = 4>
        {% for reading in week.readings %}
          <a class="{% if reading.required %}required{% else %}optional{% endif %}"
             href="{{ reading.link }}">
            {{ reading.title }}
          </a>
          <br>
        {% endfor %}
      </td>
    {% endif %}

    {% if week.lect1 == null %}
      <td class="cal-no-class">No Lecture</td>
    {% elsif week.lect1.exam %}
      <td class="cal-exam">{{ week.lect1.title }}</td>
    {% elsif week.lect1.link == null %}
      <td>
        {% if week.lect1.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect1.guest-lecturer }}</p>
        {% endif %}
        {{ week.lect1.title }}
      </td>
    {% elsif week.lect1.link != null %}
      <td>
        {% if week.lect1.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect1.guest-lecturer }}</p>
        {% endif %}
        <a href = "{{ week.lect1.link }}">{{ week.lect1.title }}</a>
      </td>
    {% endif %}

    {% if week.lab1 == null %}
      <td class="cal-no-class">No Lab</td>
    {% elsif week.lab1.work-session %}
      <td class="cal-work-session">{{ week.lab1.title }}</td>
    {% elsif week.lab1.exam %}
      <td class="cal-exam">{{ week.lab1.title }}</td>
    {% elsif week.lab1.link == null %}
      <td>{{ week.lab1.title }} </td>
    {% else %}
      <td><a href = "{{ week.lab1.link }}">{{ week.lab1.title }}</a></td>
    {% endif %}

    {% if week.disc1 == null %}
      <td class="cal-no-class" rowspan = 2>No Discussion</td>
    {% else %}
      <td rowspan = 2>
        {% if week.disc1.link == null %}
          {{ week.disc1.title }}
        {% elsif week.disc1.link != null %}
          <a href= "{{ week.disc1.link }}"> {{ week.disc1.title }} </a>
        {% endif %}
        {% if week.disc1.solutions != null %}
          <a href= "{{ week.disc1.solutions }}"> (Solutions) </a>
        {% endif %}
        {% if week.disc1.demo != null %}
          <a href= "{{ week.disc1.demo }}"> (Demo) </a>
        {% endif %}
        {% if week.disc1.slides != null %}
            <a href= "{{ week.disc1.slides }}"> (Slides) </a>
        {% endif %}
      </td>
    {% endif %}

    {% if week.notes == null %}
      <td class="cal-due-date" rowspan = 4></td>
    {% else %}
      <td class="cal-due-date" style="vertical-align:top" rowspan = 4>
        <ul style="-webkit-padding-start: 20px">
        {% for note in week.notes %}
          <br>
          {{ note.title }}
          <br>
          {% for l in note.links %}
            {% if l.link == null %}
            {{ l.title }}
            {% else %}
            <a href="{{ l.link }}"> {{ l.title }}</a>
            {% endif %}
            {% endfor %}
          <br>
        {% endfor %}
        </ul>
      </td>
    {% endif %}
  </tr>

  <tr>
    {% if week.lect2 == null %}
      <td class="cal-no-class">No Lecture</td>
    {% elsif week.lect2.exam %}
      <td class="cal-exam">{{ week.lect2.title }}</td>
    {% elsif week.lect2.link == null %}
      <td>
        {% if week.lect2.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect2.guest-lecturer }}</p>
        {% endif %}
        {{ week.lect2.title }}
      </td>
    {% elsif week.lect2.link != null %}
      <td>
        {% if week.lect2.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect2.guest-lecturer }}</p>
        {% endif %}
        <a href = "{{ week.lect2.link }}">{{ week.lect2.title }}</a>
      </td>
    {% endif %}

    {% if week.lab2 == null %}
      <td class="cal-no-class">No Lab</td>
    {% elsif week.lab2.exam %}
      <td class="cal-exam">{{ week.lab2.title }}</td>
    {% elsif week.lab2.work-session %}
      <td class="cal-work-session">{{ week.lab2.title }}</td>
    {% elsif week.lab2.link == null %}
      <td>2. {{ week.lab2.title }} </td>
    {% else %}
      <td><a href = "{{ week.lab2.link }}">{{ week.lab2.title }}</a></td>
    {% endif %}
  </tr>

  <tr>
    {% if week.lect3 == null %}
      <td class="cal-no-class">No Lecture</td>
    {% elsif week.lect3.exam %}
      <td class="cal-exam">{{ week.lect3.title }}</td>
    {% elsif week.lect3.link == null %}
      <td>
        {% if week.lect3.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect3.guest-lecturer }}</p>
        {% endif %}
        {{ week.lect3.title }}
      </td>
    {% elsif week.lect3.link != null %}
      <td>
        {% if week.lect3.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect3.guest-lecturer }}</p>
        {% endif %}
        <a href = "{{ week.lect3.link }}">{{ week.lect3.title }}</a>
      </td>
    {% endif %}

    {% if week.lab3 == null %}
      <td class="cal-no-class">No Lab</td>
    {% elsif week.lab3.work-session %}
      <td class="cal-work-session">{{ week.lab3.title }}</td>
    {% elsif week.lab3.exam %}
      <td class="cal-exam">{{ week.lab3.title }}</td>
    {% elsif week.lab3.link == null %}
      <td>{{ week.lab3.title }} </td>
    {% else %}
      <td><a href = "{{ week.lab3.link }}">{{ week.lab3.title }}</a></td>
    {% endif %}

    {% if week.disc2 == null %}
      <td class="cal-no-class" rowspan = 2>No Discussion</td>
    {% else %}
      <td rowspan = 2>
        {% if week.disc2.link == null %}
          {{ week.disc2.title }}
        {% elsif week.disc2.link != null %}
          <a href= "{{ week.disc2.link }}"> {{ week.disc2.title }} </a>
        {% endif %}
        {% if week.disc2.solutions != null %}
          <a href= "{{ week.disc2.solutions }}"> (Solutions) </a>
        {% endif %}
        {% if week.disc2.demo != null %}
          <a href= "{{ week.disc2.demo }}"> (Demo) </a>
        {% endif %}
        {% if week.disc2.slides != null %}
            <a href= "{{ week.disc2.slides }}"> (Slides) </a>
        {% endif %}
      </td>
    {% endif %}
  </tr>

  <tr>
    {% if week.lect4 == null %}
      <td class="cal-no-class">No Lecture</td>
    {% elsif week.lect4.exam %}
      <td class="cal-exam">{{ week.lect4.title }}</td>
    {% elsif week.lect4.link == null %}
      <td>
        {% if week.lect4.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect4.guest-lecturer }}</p>
        {% endif %}
        {{ week.lect4.title }}
      </td>
    {% elsif week.lect4.link != null %}
      <td>
        {% if week.lect4.guest-lecturer != null %}
          <p>Guest Lecture: {{ week.lect4.guest-lecturer }}</p>
        {% endif %}
        <a href = "{{ week.lect4.link }}">{{ week.lect4.title }}</a>
      </td>
    {% endif %}

    {% if week.lab4 == null %}
      <td class="cal-no-class">No Lab</td>
    {% elsif week.lab4.exam %}
      <td class="cal-exam">{{ week.lab4.title }}</td>
    {% elsif week.lab4.work-session %}
      <td class="cal-work-session">{{ week.lab4.title }}</td>
    {% elsif week.lab4.link == null %}
      <td>2. {{ week.lab4.title }} </td>
    {% else %}
      <td><a href = "{{ week.lab4.link }}">{{ week.lab4.title }}</a></td>
    {% endif %}
  </tr>
{% endfor %}

  <!-- <tr>
    <td>17</td>
    <td rowspan=2 colspan =6 text-align="center" class="cal-exam">
      Paper Final Exam
      <br>
      Tuesday, 5/8/18, 8-11AM
      <br>
      Last names A-J: 306 Soda, Last names: K-Z: 145 Dwinelle
      <br>
      Good luck!
    </td>
  </tr> -->

</table>
